@font-face {
    font-family: PoppinsBlack;
    src: url(/res/fonts/Poppins/Poppins-Black.woff);
    font-display: swap;
}

@font-face {
    font-family: PoppinsLight;
    src: url(/res/fonts/Poppins/Poppins-Light.woff);
    font-display: swap;
}

html {

    --primary-dark-green: #008000;
    --primary-green: #87CB28;
    --primary-light-green: #E4F577;
    --primary-dark-grey: #202D10;

    --secondary-red: #BC1823;
    --secondary-teal: #04D3BC;
    --secondary-orange: #E18B22;
    --secondary-yellow: #F7DE32;

    --main-bg-colour: var(--primary-dark-grey);
    --main-font-colour: #F0FCEF;
    --alternative-bg-colour: var(--secondary-red);
    --alternative-2-bg-colour: var(--secondary-orange);

    background: var(--main-bg-colour);

    body {
        color: var(--main-font-colour);
        font-family: PoppinsLight;
        font-size: 3ch;
        text-align: center;
    }

    h1, h2, h3, h4 {
        background: var(--primary-dark-green);
        padding: 0.5rem;
        text-align: center;

        &.yellow {
            background: var(--secondary-yellow);
            color: var(--primary-dark-grey);
        }
        &.orange { background: var(--secondary-orange); }
        &.red { background: var(--secondary-red); }
        &.teal { background: var(--secondary-teal); }
    }

    h3, h4, h5 {
        text-align: center;
        width: 75%;
        display: inline-block;
    }
    h5 { font-size: 1.5rem; }

    body {
        div#logo {
            padding-top: 3rem;
            display: grid;
            place-content: center;

            header {
                background-image: url(/res/img/logo_small.webp);
                background-repeat: no-repeat;
                background-size: 100% auto;
                overflow: hidden;
                max-width: 640px;

                h1 {
                    background: none;
                    padding-top: 15rem;
                    text-align: center;
                    font-family: PoppinsBlack;
                    text-transform: uppercase;
                    font-size: 41pt;
                    color: var(--main-font-colour);
                }
            }
        }

        .flexbox-grid {
            --min: 10ch;
            --gap: 1rem;

            display: flex;
            flex-wrap: wrap;
            gap: var(--gap);
        }

        .flexbox-grid > * {
            flex: 1 1 var(--min);
        }

        .css-grid {
            --min: 15ch;
            --gap: 1rem;

            display: grid;
            grid-gap: var(--gap);
            /* min() with 100% prevents overflow
  in extra narrow spaces */
            grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
        }

        .card-component {
            --img-ratio: 3/2;

            display: flex;
            flex-direction: column;
            /* Supported for flexbox in modern browsers since April 2021 */
            gap: 1rem;
            box-shadow: 0 0 0.5rem hsl(0 0% 0% / 35%);
            border-radius: 0.5rem;

            padding: 0.5rem;
            background: var(--main-font-colour);
            color: var(--primary-dark-grey);
            a { color: var(--primary-dark-grey) !important; }
        }

        .text-left { text-align: left; }

        .content > section {
            /* Intrinsic Container */
            width: min(100% - 3rem, var(--container-max, 75ch));
            margin-inline: auto;


            ul, ol {
                text-align: left;
            }

            a {
                color: var(--primary-light-green);
            }

            .alternative {
                background: var(--alternative-bg-colour);
            }

            .alternative-2 {
                background: var(--alternative-2-bg-colour);
            }

            .columns {
                list-style: none;
                padding: 0;
                li {
                    background: var(--main-font-colour);
                    color: var(--primary-dark-grey);
                    gap: 1rem;
                    box-shadow: 0 0 0.5rem hsl(0 0% 0% / 35%);
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                }
            }


            p:first-child {
                margin-top: 0;
            }

            blockquote {
                font-size: 3.2ch;
                padding: 1.5rem;
            }

            .cards {
                list-style: none;
                padding: 0;
            }

            .gallery {
                --min: 15rem;
                --aspect-ratio: 4/3;
                --gap: 0;

                list-style: none;
                padding: 0;

                li {
                    height: max(25vh, 15rem);
                }

                img {
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }


            @supports (aspect-ratio: 1) {
                .gallery li {
                    aspect-ratio: var(--aspect-ratio);
                    height: auto;
                }
            }
        }

        footer {
            margin-top: 3rem;
            padding: 3rem;
            background: var(--primary-dark-green);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            #logo {
                display: inline;
                width: fit-content;
                padding-top: 0;
                header {
                    background-image: url(/res/img/logo_footer.webp);
                    max-width: 250px;
                    h1 {
                        padding-top: 6.4rem;
                        font-size: 16pt;
                        color: var(--main-font-colour);
                    }
                }
            }
            p {
                padding: 0;
                display: inline;
                width: fit-content;
            }
        }
    }

    /* @media (min-width:768px) { */
    /*     .content > section { */
    /*         font-size: 6ch !important; */
    /*     } */
    /* } */

    /* @media (min-width:1024px) { */
    /*     .content > section { */
    /*         font-size: 7ch; */
    /*     } */

    /*     blockquote { */
    /*         font-size: 1ch !important; */
    /*     } */
    /* } */

    /* @media (min-width:1280px) { */
    /*     .content > section { */
    /*         font-size: 7ch; */
    /*     } */
    /* } */
}
